UI /isolinux/vesamenu.c32
DEFAULT silent
TIMEOUT 100
#MENU RESOLUTION 1024 768

MENU VSHIFT 2
MENU ROWS 7

# Refer to http://syslinux.zytor.com/wiki/index.php/Doc/menu
MENU BACKGROUND splash.png
MENU COLOR border       * #00000000 #00000000 none
MENU COLOR title        * #90ffffff #00000000 std
MENU COLOR sel          * #e0ffffff #20ffffff all
MENU COLOR unsel        * #50ffffff #00000000 std
MENU color timeout	* #c0ffffff #00000000 std
MENU color help         * #c0ffffff #00000000 std
MENU color msg07        * #c0ffffff #00000000 std

MENU TABMSG Press ENTER to boot or TAB to edit a menu entry
MENU AUTOBOOT BIOS default device boot in # second{,s}...

MENU TIMEOUTROW -4
MENU TABMSGROW -1
MENU CMDLINEROW -1

LABEL silent
MENU LABEL @DISTRONAME@
KERNEL /boot/vmlinuz
APPEND initrd=/boot/initrd quiet

LABEL debug
MENU LABEL @DISTRONAME@ (Debug)
KERNEL /boot/vmlinuz
APPEND initrd=/boot/initrd verbose

LABEL silentram
MENU LABEL @DISTRONAME@ [Ram]
KERNEL /boot/vmlinuz
APPEND initrd=/boot/initrd quiet ram

LABEL debugram
MENU LABEL @DISTRONAME@ [Ram] (Debug)
KERNEL /boot/vmlinuz
APPEND initrd=/boot/initrd verbose ram

LABEL existing
MENU LABEL Boot existing OS
COM32 chain.c32
APPEND hd0 0

LABEL reboot
MENU LABEL Reboot
COM32 reboot.c32

LABEL poweroff
MENU LABEL Poweroff
COM32 poweroff.c32
